.lessonPreview
{
    /*background-image: url('../../public/lesson.jpg');*/
    background-repeat: no-repeat;
    background-position: left 40%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 600px;
    color: white;
}
.color
{
    width: 100%;
    height: 601px;
    position: absolute;
    right: 0;
    top: 84px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.lessonPreview-2
{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.first-line
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}
.tags
{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-right: 20px;
}
.tags > p
{
    color: #A3A3A3;
    text-decoration: underline;
    margin-left: 10px;
}
.tags-2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
}
.tags-2 > p
{
    margin: 5px;
    padding: 1px 4px;
    border: 1px solid #A3A3A3;
    border-radius: 20px;
    color: #A3A3A3;
}
.author
{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.author > p:nth-of-type(1)
{
    color: #A3A3A3;
    text-decoration: underline;
}
.author > p:nth-of-type(2)
{
    color: black;
    padding: 1px 10px;
    background-color: #BAE6FD;
    border-radius: 20px;
}
.rating
{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.rating > p:nth-of-type(1)
{
    color: #A3A3A3;
    text-decoration: underline;
}
.rating > p:nth-of-type(2)
{
    color: black;
    padding: 1px 10px;
    background-color: #FECACA;
    border-radius: 20px;
}
.second-line
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}
.second-line > h1
{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 20px;
}
.second-line > button
{
    color: black;
    background-color: #BAE6FD;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.third-line
{
    width: 100%;
    color: #A3A3A3;
}
.buttons
{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50%;
    height: auto;
    padding: 50px;
}
.buttons > button
{
    background-color: rgb(38, 38, 38);
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}